<!DOCTYPE html>

<html>
<head>
    <meta charset='UTF-8'>
    <title>Stream</title>
</head>

<body>
  <div class="sky">
    <h1>Stream</h1>
    <form method="POST" action="/sign-up">
      <input type="text" name="[user]username" placeholder="Username">
      <input type="text" name="[user]email" placeholder="Email">
      <input type="password" name="[user]password" placeholder="Password">
      <input type="password" name="confirm_password" placeholder="Confirm Password">
      <input type="text" name="[profile]location" placeholder="Location">
      <input type="text" name="[profile]occupation" placeholder="Occupation">
      <input type="text" name="[profile]age" placeholder="Age">
      <input type="submit">
    </form>
    
    <div class="clouds_one"></div>
    <div class="clouds_two"></div>
    <div class="clouds_three"></div>
  </div>
</body>
</html>

