<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="signinup.css">
    <meta charset='UTF-8'>
    <title>Stream</title>
</head>

<body>
  <div class="sky">
    <h1>Stream</h1>
    <form method="POST" action="/sign-in">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit">
</form>
    
    <div class="clouds_one"></div>
    <div class="clouds_two"></div>
    <div class="clouds_three"></div>
  </div>
</body>
</html>

