<form method="POST" action="/sign-in">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit">
</form>

<p>If you do not a member our site, you need to sign up. Please click the below link...</p>

<a href="sign-up">Sign Up</a> 