<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div id="wrapper" class="menu-closed">
<div id="home" class="menu-closed">
  <div>
    <h1>Test Content</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas vitae erat et dapibus. Nunc pharetra, arcu sed laoreet venenatis, turpis nunc iaculis eros, non fermentum augue enim in nunc. Praesent rhoncus, tellus vitae laoreet venenatis, orci mauris tempor ante, in elementum nisl quam ut elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec elementum et turpis at iaculis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent feugiat pellentesque dignissim. Nunc sollicitudin vestibulum nisi, non cursus mi vestibulum quis. Quisque interdum nisl a ullamcorper elementum. Vivamus sed felis nisl.</p>
  </div>
</div>

<div id="about" class="menu-closed">
  <div>
    <h1>Test Content</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas vitae erat et dapibus. Nunc pharetra, arcu sed laoreet venenatis, turpis nunc iaculis eros, non fermentum augue enim in nunc. Praesent rhoncus, tellus vitae laoreet venenatis, orci mauris tempor ante, in elementum nisl quam ut elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec elementum et turpis at iaculis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent feugiat pellentesque dignissim. Nunc sollicitudin vestibulum nisi, non cursus mi vestibulum quis. Quisque interdum nisl a ullamcorper elementum. Vivamus sed felis nisl.</p>
  </div>
</div>

<div id="contact" class="menu-closed">
  <div>
    <h1>Test Content</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas vitae erat et dapibus. Nunc pharetra, arcu sed laoreet venenatis, turpis nunc iaculis eros, non fermentum augue enim in nunc. Praesent rhoncus, tellus vitae laoreet venenatis, orci mauris tempor ante, in elementum nisl quam ut elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec elementum et turpis at iaculis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent feugiat pellentesque dignissim. Nunc sollicitudin vestibulum nisi, non cursus mi vestibulum quis. Quisque interdum nisl a ullamcorper elementum. Vivamus sed felis nisl.</p>
  </div>
</div>
</div>

</body>
</html>