html,body {
      margin:0;
      height:100%;
      text-align: center;
    }

    h1{
      font-family: 'Amatic SC', cursive;
      color: white;
      text-align: center;
      font-size: 100px;
    }

    h3{
      font-family: 'Josefin Sans', sans-serif;
      color: white;
      text-align: center;
      font-size: 22px;
      font-weight: normal;
    }

    form{
      margin-left: auto;
      margin-right: auto;
      z-index: 1;
    }

    input{
      padding: 10px;
      margin: 10px;
      width: 40%;
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
      z-index: 1;
      border: solid white 1px;
      border-radius: 5px;
    }

    span{
     /* -webkit-transition: all 0.5s ease 0.s;
      -moz-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;*/
    }

    span:hover{
      cursor: pointer;
      /*-webkit-transform: translate(0, 4px);*/
      /*color: #007fd5;*/
      font-weight: bold;
    }

    .submit{
      border-radius:5px;
      margin: 10px;
      width: 20%;
      padding:10px;
      background-color: #007fd5;  
      border: 1px solid #007fd5;
      color: white;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 22px;
      font-weight: bold; 
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
    }
    .submit:hover{
      -webkit-transform: translate(0, 4px);
      cursor: pointer;
    }

    .sky {
      height:1000px;
      background:#a3d9ff;
      position:relative;
      overflow:hidden;
      -webkit-animation:sky_background 50s ease-out infinite;
      -moz-animation:sky_background 50s ease-out infinite;
      -o-animation:sky_background 50s ease-out infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    
    /*.moon {
      background:url("http://montanaflynn.me/lab/css-clouds/images/moon.png");
      position:absolute;
      left:0;
      height:100%;
      width:300%;
      -webkit-animation:moon 50s linear infinite;
      -moz-animation:moon 50s linear infinite;
      -o-animation:moon 50s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }*/
    
    
    .clouds_one {
      background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_one.png");
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:300%;
      -webkit-animation:cloud_one 50s linear infinite;
      -moz-animation:cloud_one 50s linear infinite;
      -o-animation:cloud_one 50s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0);
      z-index: -1;
    }
    
    .clouds_two {
      background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_two.png");
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:300%;
      -webkit-animation:cloud_two 75s linear infinite;
      -moz-animation:cloud_two 75s linear infinite;
      -o-animation:cloud_two 75s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0);
      z-index: -1;
    }
    
    .clouds_three {
      background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_three.png");
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:300%;
      -webkit-animation:cloud_three 100s linear infinite;
      -moz-animation:cloud_three 100s linear infinite;
      -o-animation:cloud_three 100s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0);
      z-index: -1;
    }
    
    @-webkit-keyframes sky_background {
      0% {
        background:#a3d9ff;
        color:#a3d9ff
      }
      
      50% {
        background:#007fd5;
        color:#007fd5
      }
      
      100% {
        background:#a3d9ff;
        color:#a3d9ff
      }
    }
    
    /*@-webkit-keyframes moon {
      0% {
        opacity: 0;
        left:-200%
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
      
      50% {
        opacity: 1;
        -moz-transform: scale(1);
        left:0%
        bottom:250px;
          -webkit-transform: scale(1);
      }
    
      100% {
        opacity: 0;
        bottom:500px;
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
    }*/
    
    @-webkit-keyframes cloud_one {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-webkit-keyframes cloud_two {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-webkit-keyframes cloud_three {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-moz-keyframes sky_background {
      0% {
        background:#a3d9ff;
        color:#a3d9ff
      }
      
      50% {
        background:#007fd5;
        color:#007fd5
      }
      
      100% {
        background:#a3d9ff;
        color:#a3d9ff
      }
    }
    
    /*@-moz-keyframes moon {
      0% {
        opacity: 0;
        left:-200%
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
      
      50% {
        opacity: 1;
        -moz-transform: scale(1);
        left:0%
        bottom:250px;
          -webkit-transform: scale(1);
      }
    
      100% {
        opacity: 0;
        bottom:500px;
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
    }*/
    
    @-moz-keyframes cloud_one {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-moz-keyframes cloud_two {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-moz-keyframes cloud_three {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }